<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="header"> <!-- th:fragment="header"로 식별되는 <head>~~</head> 부분으로 대체가 된다. -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->


    <!-- Bootstrap CSS --[resources/css 경로에 보면, bootstrap.min.css이 있고, 이게 <link> 내에 적용이 된다. -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Custom styles for this template : [resources/css 경로에 보면, jumbotron-narrow.css이 있고, 이게 내에 적용이 된다.-->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>실종 반려 동물 사이트</title>
</head>